body {
  background-color: #063009;
}

a {
  display: inline-block;
}

footer {
	clear: left;
}

* {
	font-family: optima, "sans-serif;";
	color: white;
	box-sizing: border-box;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	min-height: 90vh;
}

@media (min-width: 600px) {
	.main-container {
		grid-template-columns: 3fr 7fr;
	}

	.column {
		width: 70%;
		text-align: left;
		padding: 70px;
	}
}

.header {
	color: #2adb36;
}

.profile {
	box-sizing: border-box;
	padding: 70px;
	text-align: center;
}

.column {
	padding: 15px;
}

.links {
	margin: 10px;
}

.no-show-link {
	text-decoration: none;
}

.text {
	text-align: left;
}

.footnote {
	font-size: 0.8em;
}

#profile-pic {
	border-radius: 35%;
}

#song {
	text-align: center;
}

